@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
html {
  scroll-behavior: smooth;
}


/* navbar */
nav{
  position: fixed;
  width: 100%;
  padding: 1px 40px;
  z-index: 1001;
}
nav.black{
  background-color: black;
}
nav.black ul li.logo{
  color: white;
}
nav.black ul li a{
  color: white;
}


nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight: 600;
  padding: 0 140px;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: cyan;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btm{
  display: none;
}
nav ul li.btm.hide i:before{
  content: '\f00d';
}

@media all and (max-width: 1100px){
  nav{
    position: relative;
    width: 100%;
    padding: 1px 20px;
    background: #151515;
    
  }
  nav ul li.logo{
   color:rgb(255, 255, 255);
   padding: 5px;
  }
  nav ul li a{
    color: white;
  }
  nav ul li.items{
    position: relative;
    width: 100%;
    display: none;
  }
  nav ul li.items:after{
   display: none;
  }
 
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btm{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0;
    display: none;
  }
}

/* scroll button */

#myBtn {
  display: block;
  background-color:#000 ;
  width: 30px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
#myBtn::after {
  content: "\f102";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 38px;
  color: #fff;
}
#myBtn:hover {
  cursor: pointer;
  background-color: rgb(36, 169, 209);
}
#myBtn:active {
  background-color: rgba(33, 196, 218, 0.781);
}
#myBtn.show {
  opacity: 1;
  visibility: visible;
}

          /* *********************************** */


/* home */
#home{

     height:100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.head-h1 {
  font-family: 'Cinzel', serif;
  padding: 140px 100px;
  font-weight: 200;
  margin: 0.4rem;
}
.head-h2{
  padding-left: 100px;
  font-weight: 200;
  
}

.head-h1 {
  font-size: 3.5rem;
}

.head-h2 {
  font-size: 2rem;
  color: rgb(31, 29, 29);
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid rgb(44, 43, 43);
  font-family: 'Cinzel', serif;
}

@media(min-width: 1200px) {
  .head-h1 {
    font-size: 5rem;
  }
  q{
    font-size: 50px;
  }
}
@media(max-width:1200px){
  q{
    font-size: 50px;
  }
}
@media(max-width: 800px) {
  #home{
    height: 100%;
  }
  .head-container {
    padding: 0 1rem;
  }

  .head-h1 {
    font-size: 3rem;
  }
  q{
    font-size: 2.5rem;
  }
}

@media(max-width: 500px) {
  #home{
    height: 100%;
  }
  .head-h1 {
    padding-top: 0px;
    padding-left:50px;
    font-size: 2.5rem;
  }

 .head-h2 {
   margin-top: -20px;
   padding-left: 50px;
    font-size: 1.5rem;
  }
  q{
    font-size: 2rem;
  }
  
}


.buttons {
  display: block;
  margin-top: -100px;
  padding: 0em 4em;
}

.buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:  40px 0px;
  width: 240px;
}


.btnn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btnn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

.effect04:hover{

  background-color: #000;
}

.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}

q{
  font-family: 'Cinzel', serif;
  font-weight: 200;
}

.quotes-m{
  display: none;
  text-align: center;
  padding-top: 20px;
}
.quotes-pc{
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}
@media only screen 
    and (max-device-width : 700px) 
    and (-webkit-min-device-pixel-ratio : 2)
{
  .quotes-m{
      display: inline-block;
  }

  .quotes-pc{
      display: none;
  }
}


          /* *********************************** */


/* About */
#about{
  height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
.a-t{
  padding-top: 5%;
  text-align: center;
}
.about-container {
  text-align: center;
}

.about-container>.profile{
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-container>img {
  border: 3px solid #000000;
  height: 240px;
  margin-bottom: 10px;
  position: relative;
  width: 240px;
  z-index: 5;
}

.a-content>h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.a-c{
  text-align: center;
  display: inline-block;
  padding-left: 20%;
  padding-right: 20%;
}

.tag_list {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}

.tag_list>li {
  background-color: rgba(30, 187, 163, 0.04);
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-weight: normal;
  margin: 6px 4px;
  padding: 7px 15px;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 30px;
}

.tag_list>li:hover {
  color: #000;
  background-color: #1ed5e2;
  border: 1px solid #1ed5e2;
}

@media only screen and (max-width: 991px) {
  .about-container>img {
      border-width: 3px;    
  }
  .a-content>h2 {
      font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .a-t{
    padding-top: 10%;
  }
  .a-c{
    text-align: center;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
  }
  .about-container>img {
      margin-bottom: 15px;
  }
  .a-content>h2 {
      font-size: 20px;
      margin-bottom: 7px;
  }
  .tag_list>li {
      font-size: 12px;
  }
}


          /* *********************************** */


/* works */
#work{
  height:100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.w-t{
  text-align: center;
  margin-bottom: 50px;
}
.column { 
  float: left;
  transition: 0.3s;
  width: 30%;
  padding: 10px 10px;
  margin: 15px;
  margin-bottom: 100px;
  margin-top: 50px; 
}
.column:hover {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
 
.container {
  padding: 2px 16px;
}
/* Remove extra left and right margins, due to padding */
.row {
     margin-left: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  text-align: center;
  background-color: #FFFAFA;
}

/* Responsive columns */
@media screen and (max-width: 1100px) {
  .row:after{
    margin-left: 10px;
  }
  .column {
    width: 45%;
    margin: 20px;
    margin-bottom: 20px;
    
  }
}

@media screen and (max-width: 970px) {
  .row{
    margin-left: 22%;
  }
  .row:after{
    margin-left: 10px;
  }
  .column {
    width: 80%;
    display: inline-block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .row{
    margin-left: 15%;
  }
  .row:after{
    margin-left: 10px;
  }
  .column {
    width: 80%;
    display: inline-block;
    margin-bottom: 20px;
  }
}


/* Responsive columns */
@media screen and (max-width: 790px) {
  .row{
    margin-left: 10px;
  }
  .row:after{
    margin-left: 10px;
  }
  .column {
    width: 90%;
    display: block;
    margin-bottom: 20px;
  }
}





          /* *********************************** */


/* qualification */
#qualification{
    height: 120vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.q-t{
    padding-top: 70px;
    text-align: center;
    margin: auto;
}
.q-line{
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #030000;
  border-radius: 100%;
  border-bottom: 1px solid #030000;
}
.timeline 
{
    position: relative;
     margin: 25px auto; 
     padding: 40px 0; 
     width: 1000px; 
     
} 
.timeline:before 
{ 
   content:''; 
   position: absolute; 
   left: 50%;
    top: 0; 
    width: 2px; 
    height: 90%; 
    background: #030000; 
} 
.timeline ul 
{
    margin: 0;
   padding: 0;
} 
.timeline ul li 
{ 
   list-style: none; 
  position: relative;
   width: 50%; 
  padding: 20px 40px; 
  box-sizing: border-box;
} 
.content 
{ 
   padding-bottom: 20px;
} 
.timeline ul li:nth-child(odd) 
{ 
   float: left;
    clear: both;
    text-align: right;
} 
.timeline li:nth-child(odd):before 
{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px; 
    border-radius: 50%; 
    background: rgb(235, 124, 229); 
    box-shadow: 0 0 0 3px rgba(233,30,99,0.2); 
} 
.timeline li:nth-child(even) 
{ 
      float: right; 
      clear: both; 
      text-align: left; 
}
.timeline li:nth-child(even):before 
{ 
       content: ''; 
      position: absolute; 
      top: 24px; 
      left: -4px; 
      width: 10px; 
      height: 10px; 
      border-radius: 50%; 
      background: rgb(245, 136, 239); 
      box-shadow: 0 0 0 3px rgba(233,30,99,0.2); 
}
.timeline ul li h3 
{ margin: 0; 
  padding: 0; 
  font-weight: 600; 
  color: rgb(236, 30, 191); 
} 
.timeline ul li p 
{ margin: 10px 0 0; 
  padding: 0; 
}
.timeline ul li .time h4 
{ 
  margin: 0; 
  padding: 0; 
  font-size: 14px; 
} 
.timeline li:nth-child(odd) .time 
{
   position: absolute; 
   top: 12px; 
   right: -165px; 
   margin: 0; 
   padding: 8px 16px; 
   background: rgb(236, 30, 191); 
   color: #fff; 
   border-radius: 18px; 
   box-shadow: 0 0 0 3px rgba(233,30,99,.2); 
}
.timeline li:nth-child(even) .time 
{ 
  position: absolute; 
  top: 12px; 
  left: -165px; 
  margin: 0; 
  padding: 8px 16px; 
  background: rgb(236, 30, 191); 
  color: #fff;
  border-radius: 18px; 
  box-shadow: 0 0 0 3px rgba(233,30,99,.2); 
}
::selection
{ 
  background: rgba(233,30,99,1); 
  color: #fff;
}
@media (max-width: 565px){
 .q-t{
   padding-top: 10px;
 }
}
@media (max-width: 1000px){
  .timeline{
    width: 100%;
  }
 
}
@media(max-width: 795px){
  #qualification{
    height: 100%;
  }
}
@media (max-width: 767px){
  hr{
    visibility: hidden;
  }
 
  .timeline{
    width: 100%;
  }
  .timeline:before{
    left:20px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even){
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  } 
  .timeline li:nth-child(odd):before,
  .timeline li:nth-child(even):before{
    top: -18px;
    left: 16px;
  } 
  .timeline li:nth-child(odd) .time, 
  .timeline li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

          /* *********************************** */


/* #contact */
#contact{
    height:100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* form */
#c-t{
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px;
  font-size: 35px;
}

.address {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #a9aacd;
  margin-bottom: 50px;
}

.inner-address p {
  font-size: 12px;
}

.inner-address .fas {
  font-size: 30px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(32, 27, 27);
  text-align: center;
}

.input{
display: flex;
width: 50%;
margin-left: 33%;
margin-bottom: 20px;
}


.inner-msg {
  width: 50%;
  margin-bottom: 20px;
  resize: none;
}

.input > input {
  border: 0;
  width: 260px;
  padding: 10px 20px;
  /* outline: none; */
  border: 2px solid #000;
}


.msg > textarea {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  outline: none;
  height: 80px;
  border: 2px solid #000;
}

.bttn {
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  background-color:#3498db ;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bttn::after {
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  background-color:#3498db ;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bttn:hover{
  background: #fff;
  color: #3498db;
  border:1px solid #3498db;
}
@media (max-width: 767px){
 
  .input > input {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .input{
    margin-left: 1%;
  }
 
}

.middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    margin: 15px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 60px;
    font-size: 26px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
}
@media (max-width: 670px){
  .middle{
    position: relative;
    top: 50%;
    margin-top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 380px){
  .middle{
    position: relative;
    top: 50%;
    margin-top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  
}
/* footer */
footer{
  clear: both;
  text-align:center;
  color: #fff;
  position: relative;
  background-color: black;
  height: 100px;
}
#count{
  padding-top: 20px;
}
  
/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #020508;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
